@model Flora_Queen_Project.Models.Type

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var errors = new Dictionary<string, string>();
    if (ViewBag.Errors != null)
    {
        errors = ViewBag.Errors as Dictionary<string, string>;
    }
}

@* <h2>Edit</h2> *@
@* *@
@* @using (Html.BeginForm()) *@
@* { *@
@*     @Html.AntiForgeryToken() *@
@* *@
@*     <div class="form-horizontal"> *@
@*         <h4>Type</h4> *@
@*         <hr /> *@
@*         @Html.ValidationSummary(true, "", new { @class = "text-danger" }) *@
@*         @Html.HiddenFor(model => model.Id) *@
@* *@
@*         <div class="form-group"> *@
@*             @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" }) *@
@*             <div class="col-md-10"> *@
@*                 @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } }) *@
@*                 @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" }) *@
@*             </div> *@
@*         </div> *@
@* *@
@*         <div class="form-group"> *@
@*             @Html.LabelFor(model => model.CreatedAt, htmlAttributes: new { @class = "control-label col-md-2" }) *@
@*             <div class="col-md-10"> *@
@*                 @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control" } }) *@
@*                 @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" }) *@
@*             </div> *@
@*         </div> *@
@* *@
@*         <div class="form-group"> *@
@*             @Html.LabelFor(model => model.UpdatedAt, htmlAttributes: new { @class = "control-label col-md-2" }) *@
@*             <div class="col-md-10"> *@
@*                 @Html.EditorFor(model => model.UpdatedAt, new { htmlAttributes = new { @class = "form-control" } }) *@
@*                 @Html.ValidationMessageFor(model => model.UpdatedAt, "", new { @class = "text-danger" }) *@
@*             </div> *@
@*         </div> *@
@* *@
@*         <div class="form-group"> *@
@*             @Html.LabelFor(model => model.DeletedAt, htmlAttributes: new { @class = "control-label col-md-2" }) *@
@*             <div class="col-md-10"> *@
@*                 @Html.EditorFor(model => model.DeletedAt, new { htmlAttributes = new { @class = "form-control" } }) *@
@*                 @Html.ValidationMessageFor(model => model.DeletedAt, "", new { @class = "text-danger" }) *@
@*             </div> *@
@*         </div> *@
@* *@
@*         <div class="form-group"> *@
@*             @Html.LabelFor(model => model.TypeStatus, htmlAttributes: new { @class = "control-label col-md-2" }) *@
@*             <div class="col-md-10"> *@
@*                 @Html.EnumDropDownListFor(model => model.TypeStatus, htmlAttributes: new { @class = "form-control" }) *@
@*                 @Html.ValidationMessageFor(model => model.TypeStatus, "", new { @class = "text-danger" }) *@
@*             </div> *@
@*         </div> *@
@* *@
@*         <div class="form-group"> *@
@*             <div class="col-md-offset-2 col-md-10"> *@
@*                 <input type="submit" value="Save" class="btn btn-default" /> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* } *@
@* *@
@* <div> *@
@*     @Html.ActionLink("Back to List", "Index") *@
@* </div> *@


<div class="row">
    <div class="col-md-8 mx-auto grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @if (TempData["Error"] != null)
                {
                    <h4 class="text-danger">@TempData["Error"]</h4>
                }
                <h4 class="card-title">Type</h4>
                <p class="card-description">Edit Type</p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, errors.ContainsKey("Name") ? errors["Name"] : "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group hidden" style="display: none">
                        @Html.LabelFor(model => model.CreatedAt, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @* <input type="date" class = "form-control" name="datepicker" value="@string.Format("{0:yyyy-MM-dd}", Model.CreatedAt)"/> *@
                            @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                            @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
                            @* <input type="text" name="birthday" value="@Model.CreatedAt.Date" /> *@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeStatus)
                        @Html.EnumDropDownListFor(model => model.TypeStatus, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TypeStatus, "", new { @class = "text-danger" })
                    </div>
                    <input type="submit" class="btn btn-gradient-primary mr-2" value="Update" />
                    <button type="button" class="btn btn-gradient-danger mr-3" data-toggle="modal" data-target="#myModal">
                        Deleted
                    </button>
                    <a class="btn btn-light" href="@Url.Action("Index")">
                        Cancel
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Are you sure?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                @using (Html.BeginForm("Delete/" + Model.Id, "Types", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Yes" class="btn btn-default btn btn-danger" />
                }
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>