@model List<Flora_Queen_Project.Models.Product>

@{
    ViewBag.Title = "List";

    var totalPage = ((int?) ViewBag.TotalPage).Value;
    var currentPage = ((int?) ViewBag.CurrentPage).Value;
    var limit = ((int?) ViewBag.Limit).Value;
    var viewMode = ((int?) ViewBag.viewMode).Value ;
    var currentPara = "?occasion="+ViewBag.Occasion + 
                      "&type=" + ViewBag.Type + 
                      "&color=" + ViewBag.Color + 
                      "&minAmount="+ ViewBag.minAmount +
                      "&maxAmount="+ ViewBag.maxAmount +
                      "&viewMode="+ ViewBag.viewMode 
        ;
}

@section header_class
{oth-page}
@section logo_head_class
{col-md-6 col-sm-5 col-6}
@* ReSharper disable Html.IdNotResolved *@

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Shop Grid</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="@Url.Action("Index","Home")">Home</a>
                        <span class="brd-separetor">/</span>
                        <a href="@Url.Action("Index","Shop")" class="breadcrumb_item active">Shop</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Shop Page -->
<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                @Html.Partial("_ShopSidebar")
            </div>
            <div class="col-lg-9 col-12 order-1 order-lg-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                            <div class="shop__list nav justify-content-center" role="tablist">
                                <a class="nav-item nav-link @(viewMode == 0? "active" : "")" data-toggle="tab" id="nav-grid-click" href="#nav-grid" role="tab"><i class="fa fa-th"></i></a>
                                <a class="nav-item nav-link @(viewMode == 1? "active" : "")" data-toggle="tab" id="nav-list-click" href="#nav-list" role="tab"><i class="fa fa-list"></i></a>
                            </div>
                            <p>Showing 1–12 of 40 results</p>
                            <div class="orderby__wrapper">
                                <span>Sort By</span>
                                <select class="shot__byselect">
                                    <option>Default sorting</option>
                                    <option>HeadPhone</option>
                                    <option>Furniture</option>
                                    <option>Jewellery</option>
                                    <option>Handmade</option>
                                    <option>Kids</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab__container">
                    <div class="shop-grid tab-pane fade @(viewMode == 0? "show active" : "")  " id="nav-grid" role="tabpanel">
                        <div class="row">
                            <!-- Start Single Product -->
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <div class="product__thumb">
                                        <a class="first__img" href="#/"><img src="@Html.DisplayFor(model=> Model[i].ImgUrl)" alt="product image"></a>
                                        <a class="second__img animation1" href="#/"><img src="@Html.DisplayFor(model=> Model[i].ImgUrl)" alt="product image"></a>
                                        <div class="hot__box">
                                            <span class="hot-label">BEST SELLER</span>
                                        </div>
                                    </div>
                                    <div class="product__content content--center">
                                        <h4><a href="#/">robin parrish</a></h4>
                                        <ul class="prize d-flex">
                                            <li>$ @(Model[i].Price / 1000) K</li>
                                            <li class="old_prize">$@(Model[i].Price / 1000 * 1.5) K</li>
                                        </ul>
                                        <div class="action">
                                            <div class="actions_inner">
                                                <ul class="add_to_links">
                                                    <li><a class="cart" href="#/"><i class="bi bi-shopping-bag4"></i></a></li>
                                                    <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                    <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                    <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product__hover--content">
                                            <ul class="rating d-flex">
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- End Single Product -->
                        </div>
                    </div>
                    <div class="shop-grid tab-pane fade mb-3 @(viewMode == 1? "show active" : "") " id="nav-list" role="tabpanel">
                        <div class="list__view__wrapper">
                            <!-- Start Single Product -->
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                <div class="list__view">
                                    <div class="thumb">
                                        <a class="first__img" href="#/"><img src="@Html.DisplayFor(model=> Model[i].ImgUrl)" alt="product images"></a>
                                        <a class="second__img animation1" href="#/"><img src="@Html.DisplayFor(model=> Model[i].ImgUrl)" alt="product images"></a>
                                    </div>
                                    <div class="content">
                                        <h2><a href="#/">Ali Smith</a></h2>
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <ul class="prize__box">
                                            <li>$@Html.DisplayFor(model => Model[i].Price)</li>
                                            <li class="old__prize">$@Html.DisplayFor(model => Model[i].Price)</li>
                                        </ul>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                                        <ul class="cart__action d-flex">
                                            <li class="cart"><a href="#/">Add to cart</a></li>
                                            <li class="wishlist"><a href="#/"></a></li>
                                            <li class="compare"><a href="#/"></a></li>
                                        </ul>

                                    </div>
                                </div>
                            }

                            <!-- End Single Product -->
                        </div>
                    </div>
                    @if (totalPage > 0)
                    {
                        <ul class="wn__pagination">
                            @if (currentPage > 1)
                            {
                                <li><a href="@currentPara&page=@(currentPage-1)&limit=@(limit)"><i class="zmdi zmdi-chevron-left"></i></a></li>
                            }
                            @if (currentPage > 2)
                            {
                                <li><a href="@currentPara&page=@(currentPage-2)&limit=@(limit)">@(currentPage - 2)</a></li>
                            }
                            @if (currentPage > 1)
                            {
                                <li><a href="@currentPara&page=@(currentPage-1)&limit=@(limit)">@(currentPage - 1)</a></li>
                            }
                            <li class="active"><a href="@currentPara&page=@(currentPage)&limit=@(limit)">@currentPage</a></li>
                            @if (totalPage - currentPage > 0)
                            {
                                <li><a href="@currentPara&page=@(currentPage+1)&limit=@(limit)">@(currentPage + 1)</a></li>
                            }
                            @if (totalPage - currentPage > 1)
                            {
                                <li><a href="@currentPara&page=@(currentPage+2)&limit=@(limit)">@(currentPage + 2)</a></li>
                            }
                            @if (currentPage < totalPage)
                            {
                                <li><a href="@currentPara&page=@(currentPage+1)&limit=@(limit)"><i class="zmdi zmdi-chevron-right"></i></a></li>
                            }

                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
@section scripts
{
    <script>
        $(function () {
            $("#nav-grid-click").click(function () {
                $("#viewMode").val(0);
            });
            $("#nav-list-click").click(function () {
                $("#viewMode").val(1);
            });
            $(".occasion-click").each(function () {
                if ($(this).data("id") === $('input[name="occasion"]').val()) {
                    $(this).addClass("active font-weight-bold");
                } else {
                    $(this).removeClass("active font-weight-bold");
                }
            });
            $(".type-click").each(function () {
                if ($(this).data("id") === $('input[name="type"]').val()) {
                    $(this).addClass("active font-weight-bold");
                } else {
                    $(this).removeClass("active font-weight-bold");
                }
            });
            $(".color-click").each(function () {
                if ($(this).data("id") === $('input[name="color"]').val()) {
                    $(this).addClass("active");
                } else {
                    $(this).removeClass("active");
                }
            });

            $(".occasion-click").click(function () {
                const data = $(this).data("id");
                $('input[name="occasion"]').val(data);
                $("#shopFilter").submit();
            });

            $(".type-click").click(function () {
                const data = $(this).data("id");
                $('input[name="type"]').val(data);
                $("#shopFilter").submit();
            });

            $(".color-click").click(function () {
                const data = $(this).data("id");
                $('input[name="color"]').val(data);
                $("#shopFilter").submit();
            });
        });
    </script>
}
