@model Flora_Queen_Project.Models.Product

@* ReSharper disable Html.IdNotResolved *@


<!-- Start product images -->
<div class="product-images">
    <div class="main-image images">
        <img alt="big images" src="@Model.ImgUrl">
    </div>
</div>
<!-- end product images -->
<div class="product-info">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <div class="price-box-3">
        <div class="s-price-box">
            <span class="new-price">@(Model.Price/1000)K VND</span>
            <span class="old-price">@(Model.Price*1.5/1000)K VND</span>
        </div>
    </div>
    <div class="quick-desc d-none d-sm-block">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="select__size">
        <h2>Select size</h2>
        <ul class="color__list">
            <li class="l__size"><a title="L" href="#/">L</a></li>
            <li class="m__size"><a title="M" href="#/">M</a></li>
            <li class="s__size"><a title="S" href="#/">S</a></li>
            <li class="xl__size"><a title="XL" href="#/">XL</a></li>
            <li class="xxl__size"><a title="XXL" href="#/">XXL</a></li>
        </ul>
    </div>
    <div class="social-sharing">
        <div class="widget widget_socialsharing_widget">
            <h3 class="widget-title-modal">Share this product</h3>
            <ul class="social__net social__net--2 d-flex justify-content-start">
                <li class="facebook"><a href="#/" class="rss social-icon"><i class="zmdi zmdi-rss"></i></a></li>
                <li class="linkedin"><a href="#/" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
                <li class="pinterest"><a href="#/" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                <li class="tumblr"><a href="#/" class="tumblr social-icon"><i class="zmdi zmdi-tumblr"></i></a></li>
            </ul>
        </div>
    </div>

</div>
