@using Flora_Queen_Project.Models
@model IEnumerable<Flora_Queen_Project.Models.Product>

@{
    ViewBag.Title = "Home";
    var occasionList = ViewBag.OccasionList as List<Occasion>;
}


@* ReSharper disable Html.IdNotResolved *@
@section logo_head_class
{col-md-6 col-sm-5 col-6}
<!-- Start Slider area -->
<div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
    <!-- Start Single Slide -->
    <div class="slide animation__style10 bg-banner--2 fullscreen align__center--left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider__content">
                        <div class="contentbox">
                            <h2>Buy <span>your </span></h2>
                            <h2>Favorite <span>Flower </span></h2>
                            <h2>from <span>Here </span></h2>
                            <a class="shopbtn" href="@Url.Action("Index","Shop")">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Slide -->
    <!-- Start Single Slide -->
    <div class="slide animation__style10 bg-banner--4 fullscreen align__center--left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider__content">
                        <div class="contentbox">
                            <h2>Buy <span>your </span></h2>
                            <h2>Favorite <span>Flower </span></h2>
                            <h2>from <span>Here </span></h2>
                            <a class="shopbtn" href="@Url.Action("Index","Shop")">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Slide -->
</div>
<!-- End Slider area -->
<!-- Start BEst Seller Area -->
<section class="wn__product__area brown--color pt--80  pb--30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title text-center">
                    <h2 class="title__be--2">New <span class="color--theme">Products</span></h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                </div>
            </div>
        </div>
        <!-- Start Single Tab Content -->
        <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
            @Html.Action("NewProduct", "Home")
        </div>
        <!-- End Single Tab Content -->
    </div>
</section>
<!-- Start BEst Seller Area -->
<!-- Start Newsletter Area -->
<section class="wn__newsletter__area bg-image--2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
                <div class="section__title text-center">
                    <h2>Stay With Us</h2>
                </div>
                <div class="newsletter__block text-center">
                    <p>Subscribe to our newsletters now and stay up-to-date with new collections, the latest books and exclusive offers.</p>
                    <form action="#">
                        <div class="newsletter__box">
                            <input type="email" placeholder="Enter your e-mail">
                            <button>Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Newsletter Area -->
<!-- Start All Product Area -->
<section class="wn__bestseller__area bg--white pt--80  pb--30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title text-center">
                    <h2 class="title__be--2">Hot <span class="color--theme">Products</span></h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                </div>
            </div>
        </div>
        <div class="row mt--50">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="product__nav nav justify-content-center" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-all" role="tab">ALL</a>
                    @foreach (var item in ViewBag.OccasionList)
                    {
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-@item.Id" role="tab">@item.Name</a>
                    }
                </div>
            </div>
        </div>
        <div class="tab__container mt--60">
            <!-- Start Single Tab Content -->
            <div class="row single__tab tab-pane fade show active" id="nav-all" role="tabpanel">
                <div class="product__indicator--4 arrows_style owl-carousel owl-theme">
                    @foreach (var item in Model)
                    {
                        <div class="single__product">
                            <!-- Start Single Product -->
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                <div class="product product__style--3">
                                    <div class="product__thumb">
                                        <a class="first__img" href="#/"><img src="@item.ImgUrl" alt="product image"></a>
                                        <a class="second__img animation1" href="#/"><img src="@item.ImgUrl" alt="product image"></a>
                                        <div class="hot__box">
                                            <span class="hot-label">Hot</span>
                                        </div>
                                    </div>
                                    <div class="product__content content--center content--center">
                                        <h4>
                                            <a href="#/">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </a>
                                        </h4>
                                        <ul class="prize d-flex">
                                            <li>$ @(item.Price * item.Discount)</li>
                                            <li class="old_prize">$ @item.Price</li>
                                        </ul>
                                        <div class="action">
                                            <div class="actions_inner">
                                                <ul class="add_to_links">
                                                    <li>
                                                        @if (item.InStock == 0)
                                                        {
                                                            <a class="cart d-none">
                                                                <i class="bi bi-shopping-bag4"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="cart add-to-cart" data-id="@item.Id" href="#/">
                                                                <i class="bi bi-shopping-bag4"></i>
                                                            </a>
                                                        }
                                                    </li>
                                                    <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                    <li><a class="compare" href="#/"><i class="bi bi-heart-beat"></i></a></li>
                                                    <li><a data-toggle="modal" data-id="@item.Id" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product__hover--content">
                                            <ul class="rating d-flex">
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Single Product -->
                        </div>
                    }
                </div>
            </div>
            <!-- End Single Tab Content -->
            @if (occasionList != null && occasionList.Count >= 0)
            {
                foreach (var item in occasionList)
                {

                    <!-- Start Single Tab Content -->
                    <div class="row single__tab tab-pane fade" id="nav-@item.Id" role="tabpanel">
                        <div class="product__indicator--4 arrows_style owl-carousel owl-theme">
                            @foreach (var itemInside in Model)
                            {
                                if (itemInside.OccasionId == item.Id)
                                {
                                    <div class="single__product">
                                        <!-- Start Single Product -->
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                            <div class="product product__style--3">
                                                <div class="product__thumb">
                                                    <a class="first__img" href="#/"><img src="@itemInside.ImgUrl" alt="product image"></a>
                                                    <a class="second__img animation1" href="#/"><img src="@itemInside.ImgUrl" alt="product image"></a>
                                                    <div class="hot__box">
                                                        <span class="hot-label">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product__content content--center content--center">
                                                    <h4>
                                                        <a href="#/">
                                                            @Html.DisplayFor(modelItem => itemInside.Name)
                                                        </a>
                                                    </h4>
                                                    <ul class="prize d-flex">
                                                        <li>$ @(itemInside.Price * itemInside.Discount)</li>
                                                        <li class="old_prize">$ @itemInside.Price</li>
                                                    </ul>
                                                    <div class="action">
                                                        <div class="actions_inner">
                                                            <ul class="add_to_links">
                                                                <li>
                                                                    @if (itemInside.InStock == 0)
                                                                    {
                                                                        <a class="cart d-none">
                                                                            <i class="bi bi-shopping-bag4"></i>
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a class="cart add-to-cart" data-id="@itemInside.Id" href="#/">
                                                                            <i class="bi bi-shopping-bag4"></i>
                                                                        </a>
                                                                    }
                                                                </li>
                                                                <li><a class="wishlist" href="#/"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                                <li><a class="compare" href="#/"><i class="bi bi-heart-beat"></i></a></li>
                                                                <li><a data-toggle="modal" data-id="@item.Id" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product__hover--content">
                                                        <ul class="rating d-flex">
                                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                            <li><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Product -->
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!-- End Single Tab Content -->
                }
            }
        </div>
    </div>
</section>
<!-- Start All Product Area -->
<!-- Start Recent Post Area -->
<section class="wn__recent__post bg--gray ptb--80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title text-center">
                    <h2 class="title__be--2">Our <span class="color--theme">Blog</span></h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                </div>
            </div>
        </div>
        <div class="row mt--50">
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="post__itam">
                    <div class="content">
                        <h3><a href="#/">International activities of the Frankfurt Flower </a></h3>
                        <p>We are proud to announce the very first the edition of the frankfurt news.We are proud to announce the very first of  edition of the fault frankfurt news for us.</p>
                        <div class="post__time">
                            <span class="day">Dec 06, 18</span>
                            <div class="post-meta">
                                <ul>
                                    <li><a href="#/"><i class="bi bi-love"></i>72</a></li>
                                    <li><a href="#/"><i class="bi bi-chat-bubble"></i>27</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="post__itam">
                    <div class="content">
                        <h3><a href="#/">Reading has a significant info  number of benefits</a></h3>
                        <p>Find all the information you need to ensure your experience.Find all the information you need to ensure your experience . Find all the information you of.</p>
                        <div class="post__time">
                            <span class="day">Mar 08, 18</span>
                            <div class="post-meta">
                                <ul>
                                    <li><a href="#/"><i class="bi bi-love"></i>72</a></li>
                                    <li><a href="#/"><i class="bi bi-chat-bubble"></i>27</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12">
                <div class="post__itam">
                    <div class="content">
                        <h3><a href="#/">The London Flower Fair is to be packed with exciting </a></h3>
                        <p>The London Flower Fair is the global area on marketplace for rights negotiation.The year  London Flower Fair is the global area on for marketplace for rights.</p>
                        <div class="post__time">
                            <span class="day">Nov 11, 18</span>
                            <div class="post-meta">
                                <ul>
                                    <li><a href="#/"><i class="bi bi-love"></i>72</a></li>
                                    <li><a href="#/"><i class="bi bi-chat-bubble"></i>27</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Recent Post Area -->
<!-- Best Sale Area -->

<section class="wn__product__area brown--color pt--80  pb--30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title text-center">
                    <h2 class="title__be--2">Best <span class="color--theme">Seller </span></h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
                </div>
            </div>
        </div>
        <!-- Start Single Tab Content -->
        <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
            @Html.Action("BestSales", "Home")
        </div>
        <!-- End Single Tab Content -->
    </div>
</section>
<!-- Best Sale Area Area -->