@using Microsoft.AspNet.Identity
@* ReSharper disable Html.IdNotResolved *@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-none" }))
    {
        @Html.AntiForgeryToken()
    }

    <span><a id="userLink" href="@Url.Action("Index", "Manage", null)">@User.Identity.GetUserName()</a></span>
    <span><a id="logoutLink" href="javascript:document.getElementById('logoutForm').submit()">Logout</a></span>
}
else
{
    <span><a id="loginLink" href="@Url.Action("Login", "Account", null)">Login</a></span>
    <span><a id="registerLink" href="@Url.Action("Register", "Account", null)">Register</a></span>
}
