<div class="shop__sidebar">
    <aside class="wedget__categories poroduct--cat">
        <h3 class="wedget__title">Occasions</h3>
        @Html.Action("OccasionsSideBar", "Shop")
    </aside>
    <aside class="wedget__categories poroduct--cat">
        <h3 class="wedget__title">Flower Types</h3>
        @Html.Action("TypesSideBar", "Shop")
    </aside>
    <aside class="wedget__categories pro--range">
        <h3 class="wedget__title">Filter by price</h3>
        <div class="content-shopby">
            <div class="price_filter s-filter clear">
                <form action="@Url.Action("Index","Shop")" method="GET" name="shopFilter" id="shopFilter">
                    <input type="hidden" name="occasion" value="@ViewBag.Occasion" />
                    <input type="hidden" name="type" value="@ViewBag.Type" />
                    <input type="hidden" name="color" value="@ViewBag.Color" />
                    <input type="hidden" name="minAmount" id="minAmount" value="@ViewBag.minAmount" />
                    <input type="hidden" name="maxAmount" id="maxAmount" value="@ViewBag.maxAmount" />
                    <div id="slider-range"></div>
                    <div class="slider__range--output">
                        <div class="price__output--wrap">
                            <div class="price--output">
                                @* ReSharper disable once Html.AttributeValueNotResolved *@
                                <span>Price :</span><input type="text" id="amount" >
                            </div>
                            <div class="price--filter">
                                @* ReSharper disable once Html.IdNotResolved *@
                                <a href="#/" onclick="document.getElementById('shopFilter').submit();">Filter</a> 
                            </div>
                            <div class="price--filter">
                                <a href="@Url.Action("Index","Shop")" id="clear-filter">clear-filter</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </aside>
    <aside class="wedget__categories poroduct--tag">
        <h3 class="wedget__title">Product Tags</h3>
        @Html.Action("ColorsSideBar","Shop")
    </aside>
    <aside class="wedget__categories sidebar--banner">
        @Html.Action("HotDeal","Shop")
    </aside>
</div>
