@using Flora_Queen_Project.Models
@model IEnumerable<Flora_Queen_Project.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var indexSo = 1;

    ViewBag.Title = "List";
    var sortBy = ((int?)ViewBag.sortBy).Value;
    var totalPage = ((int?)ViewBag.TotalPage).Value;
    var currentPage = ((int?)ViewBag.CurrentPage).Value;
    var limit = ((int?)ViewBag.Limit).Value;
    var status = ((int?)ViewBag.status).Value;
    var currentPara = "?minPrice=" + ViewBag.minPrice +
                      "&maxPrice=" + ViewBag.maxPrice +
                      "&status=" + ViewBag.status +
                      "&sortBy=" + ViewBag.sortBy
        ;
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Default form</h4>
                <p class="card-description"> Basic form layout </p>
                @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
                {
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="minPrice">Username</label>
                            <select class="form-control" name="minPrice" id="minPrice">
                                <option value="0">----</option>
                                <option value="5">$5</option>
                                <option value="10">$10</option>
                                <option value="20">$20</option>
                                <option value="50">$50</option>
                                <option value="100">$100</option>
                                <option value="200">$200</option>
                                <option value="300">$300</option>
                                <option value="500">$500</option>
                                <option value="1000">$1000</option>
                                <option value="1500">$1500</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="maxPrice">Max Price</label>
                            <select class="form-control" id="maxPrice" name="maxPrice">
                                <option value="0">----</option>
                                <option value="2000">$2000</option>
                                <option value="1500">$1500</option>
                                <option value="1000">$1000</option>
                                <option value="500">$500</option>
                                <option value="300">$300</option>
                                <option value="200">$200</option>
                                <option value="100">$100</option>
                                <option value="50">$50</option>
                                <option value="20">$20</option>
                                <option value="10">$10</option>
                                <option value="5">$5</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="OrderStatus">Status</label>
                            @Html.DropDownList("OrderStatus", EnumHelper.GetSelectList(typeof(Order.OrderStatusEnum)), "Select Status", new { @class = "form-control", id = "OrderStatus" })
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-gradient-primary ml-auto">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body table-responsive">
                <h3>Tìm kiếm theo ngày</h3>
                <input type="text" name="datefilter" value="" class="form-control" />
                <h4 class="card-title" style="margin-top: 50px;">Danh sách đơn hàng</h4>

                <table class="table" id="update-student">
                    <thead class="text-primary">
                        <tr>
                            <th>
                                #
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.ApplicationUser)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th class="text-center d-none d-sm-table-cell ">
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th class="text-center d-none d-xl-table-cell">
                                @Html.DisplayNameFor(model => model.OrderStatus)
                            </th>
                            <th class="text-center d-none d-lg-table-cell">
                                Edit
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <b class="text-small">@indexSo</b>
                                </td>
                                <td>
                                    <a href="@Url.Action("Details", "Orders", new {id = item.Id})" class="badge w-100 badge-gradient-primary w-100">
                                        @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                                    </a>
                                </td>
                                <td class="text-center">
                                    <b class="text-small">@Html.DisplayFor(modelItem => item.Amount)</b>
                                </td>
                                <td class="text-center d-none d-sm-table-cell" data-createdAt="@item.CreatedAt">
                                    <b class="text-small">@Html.DisplayFor(modelItem => item.CreatedAt)</b>
                                </td>
                                <td class="d-none d-xl-table-cell text-center">
                                    <span class="badge w-100 @(item.OrderStatus == Order.OrderStatusEnum.Done ? "badge-gradient-primary"
                                                             : item.OrderStatus == Order.OrderStatusEnum.Shipping ? "badge-gradient-warning"
                                                                 : "badge-gradient-secondary")">
                                        @Html.DisplayFor(modelItem => item.OrderStatus)
                                    </span>
                                </td>
                                <td class="text-center d-none d-lg-table-cell">
                                    <a class="badge badge-warning" href="#">
                                        <span class="mdi mdi-pencil-box-outline"></span>
                                    </a>
                                </td>
                            </tr>
                            {
                                indexSo++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@if (totalPage > 0)
{
    <ul class="wn__pagination">
        @if (currentPage > 3)
        {
            <li><a href="@currentPara&page=@(1)&limit=@(limit)"><i class="zmdi zmdi-chevron-left"></i></a></li>
        }
        @if (currentPage > 1)
        {
            <li><a href="@currentPara&page=@(currentPage - 1)&limit=@(limit)"><i class="zmdi zmdi-chevron-left"></i></a></li>
        }
        @if (currentPage > 2)
        {
            <li><a href="@currentPara&page=@(currentPage - 2)&limit=@(limit)">@(currentPage - 2)</a></li>
        }
        @if (currentPage > 1)
        {
            <li><a href="@currentPara&page=@(currentPage - 1)&limit=@(limit)">@(currentPage - 1)</a></li>
        }
        <li class="active"><a href="@currentPara&page=@(currentPage)&limit=@(limit)">@currentPage</a></li>
        @if (totalPage - currentPage > 0)
        {
            <li><a href="@currentPara&page=@(currentPage + 1)&limit=@(limit)">@(currentPage + 1)</a></li>
        }
        @if (totalPage - currentPage > 1)
        {
            <li><a href="@currentPara&page=@(currentPage + 2)&limit=@(limit)">@(currentPage + 2)</a></li>
        }
        @if (currentPage < totalPage)
        {
            <li><a href="@currentPara&page=@(currentPage + 1)&limit=@(limit)"><i class="zmdi zmdi-chevron-right"></i></a></li>
        }

        @if (currentPage < totalPage - 2)
        {
            <li><a href="@currentPara&page=@(totalPage)&limit=@(limit)"><i class="zmdi zmdi-chevron-right"></i><i class="zmdi zmdi-chevron-right"></i></a></li>
        }
    </ul>
}